<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
   <%- include('./partials/head.ejs')  %> 

   <body>
      <%- include('./partials/nav.ejs')  %> 
     
      <div class="about content">
         <h2>About Us</h2>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus cum temporibus eligendi, doloribus provident illo cumque placeat est ea! Voluptate magnam modi repellat. Dignissimos in porro rerum vel quae nulla?</p>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error cupiditate distinctio quasi possimus sapiente recusandae eum illum ratione explicabo mollitia? Totam quae rem debitis nulla reiciendis tempore repellat recusandae unde.</p>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore voluptatibus delectus iure porro. Temporibus porro eum non, accusamus necessitatibus maiores, quia ea minus neque deserunt debitis fugit quasi maxime incidunt.</p>
         
      </div>
      
      <%- include('./partials/head.ejs')  %> 
   </body>
</html>